html{
    font-size: 16px;
}

.full-width{
    width: 100%;
    text-align: center;
}

.not-visible{
    display: none;
}

.rel{
    position:relative;
    top:0;
    height:2rem;
}

#login_section{
    border:1px solid #AAA;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow:0px 0px 15px 10px #DDD;
    overflow: hidden;
    transition: max-height 1s ease;
}

#login_section img{
    margin-bottom: 1rem;
}

.form-group:last-child{
    margin-top: 1rem;
    margin-bottom: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#email{
    z-index: 20;
    position: absolute;
    top:0;
}

#email2{
    z-index: 1;
    position: absolute;
    top:0;
    left: -250px;
}

#register_link{
    z-index: 20;
    position: absolute;
    top:0;
}

#sign_in{
    z-index: 1;
    position: absolute;
    top:0;
    left: -250px;
}

#password{
    z-index: 20;
    position: absolute;
    top:0;
}

#password2{
    z-index: 1;
    position: absolute;
    top:0;
    left: -250px;
}

#login{
    z-index: 20;
    position: absolute;
    top:0;
    left: 55px;
    padding-right: 30px;
    padding-left: 30px;
}

#sign_up{
    z-index: 1;
    position: absolute;
    top:0;
    left: -190px;
}

#fielset_container{
    height: 100px!important;
    overflow: hidden;
}

/*cbranch*/
