html{
    font-size: 16px;
}

#login_section{
    border:1px solid #AAA;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow:0px 0px 15px 10px #DDD;
    overflow: hidden;
    transition: max-height 1s ease;
}

#login_section img{
    margin-bottom: 1rem;
}

.form-group:last-child{
    margin-top: 1rem;
    margin-bottom: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#input_container{
  max-height: 11rem;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

#input_container fieldset:last-child{
  padding-bottom: 1rem;
}

.max-hei{
  max-height: 40rem!important;
}
